<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
	<listener class-name="nftTicketing.Listeners"/>
  </listeners>
  <test name="Login Text Verification">
    <classes>
      <class name="nftTicketing.LoginTextVerification"/>
    </classes>
  </test>
    <test name="Login with Incorrect Credentials">
    <classes>
      <class name="nftTicketing.LoginIncorrectCredentials"/>
    </classes>
  </test>
    <test name="Login with Incorrect Data">
    <classes>
      <class name="nftTicketing.LoginIncorrectData"/>
    </classes>
  </test>
    <test name="Login with Valid Credential">
    <classes>
      <class name="nftTicketing.LoginValidCredentials"/>
    </classes>
  </test>
 <!--   <test name="Full Login Page">
    <classes>
      <class name="nftTicketing.Signin"/>
    </classes>
  </test>-->
</suite> <!-- Suite -->
