<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
	<listener class-name="amazon.Listeners"/>
  </listeners>
  <test name="Login">
    <classes>
      <class name="amazon.Login"/>
    </classes>
  </test>
 <!--   <test name="Full Login Page">
    <classes>
      <class name="nftTicketing.Signin"/>
    </classes>
  </test>-->
</suite> <!-- Suite -->
